version: "3.9"
services:
  vulnerable-app:
    build:
      context: ./vulnerable-app
    container_name: lab08-vulnerable-app
    ports:
      - "8080:8080"
    restart: unless-stopped

networks:
  default:
    name: lab08-net